.btn-primary {
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}
.btn-primary-accent {
  background-color: var(--bg-primary-accent);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}

.btn-primary:hover {
  background-color: var(--bg-primary-hover);
}

.btn-secondary {
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}

.btn-secondary:hover {
  background-color: var(--bg-secondary-hover);
}

.btn-tertiary {
  background-color: var(--bg-tertiary);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}

.btn-tertiary:hover {
  background-color: var(--bg-tertiary-hover);
}

.btn-quaternary {
  background-color: var(--bg-quaternary);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}

.btn-quaternary:hover {
  background-color: var(--bg-quaternary-hover);
}

.btn-fifth {
  background-color: var(--bg-fifth);
  box-shadow: var(--shadow-primary);
  color: var(--fg-reversed);
  border: none;
  transition: background 0.2s;
}

.btn-fifth:hover {
  background-color: var(--bg-fifth-hover);
}

.btn-sixth {
  background-color: var(--bg-sixth);
  box-shadow: var(--shadow-primary);
  color: var(--fg-primary);
  border: none;
  transition: background 0.2s;
}

.btn-sixth:hover {
  background-color: var(--bg-sixth-hover);
}
