.btn-primary {
  background-color: hsl(0, 0%, 96%);
  color: hsl(240, 100%, 7%);
  border: none;
  transition: background 0.2s;
}

.btn-primary:hover {
  background-color: hsl(0, 0%, 88%);
}

.btn-secondary {
  background-color: hsl(22, 91%, 65%);
  color: hsl(240, 100%, 7%);
  border: none;
  transition: background 0.2s;
}

.btn-secondary:hover {
  background-color: hsl(25, 74%, 53%);
}

.btn-tetriary {
  background-color: hsl(32, 92%, 81%);
  color: hsl(240, 100%, 7%);
  border: none;
  transition: background 0.2s;
}

.btn-tetriary:hover {
  background-color: hsl(35, 68%, 69%);
}

.btn-quaternary {
  background-color: hsl(194, 64%, 57%);
  color: hsl(240, 100%, 7%);
  border: none;
  transition: background 0.2s;
}

.btn-quaternary:hover {
  background-color: hsl(192, 52%, 46%);
}

.btn-fifth {
  background-color: hsl(240, 100%, 7%);
  color: hsl(0, 0%, 96%);
  border: none;
  transition: background 0.2s;
}

.btn-fifth:hover {
  background-color: hsl(240, 33%, 20%);
}

.btn-sixth {
  background-color: hsl(104, 44%, 55%);
  color: hsl(240, 100%, 7%);
  border: none;
  transition: background 0.2s;
}

.btn-sixth:hover {
  background-color: hsl(104, 44%, 45%);
}
