.card-primary {
	background-color: var(--bg-primary);
	background-image: var(--bg-primary-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}

.card-secondary {
	background-color: var(--bg-secondary);
	background-image: var(--bg-secondary-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}

.card-tertiary {
	background-color: var(--bg-tertiary);
	background-image: var(--bg-tertiary-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}

.card-quaternary {
	background-color: var(--bg-quaternary);
	background-image: var(--bg-quaternary-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}

.card-fifth {
	background-color: var(--bg-fifth);
	background-image: var(--bg-fifth-gradient);
	color: var(--fg-reversed);
	box-shadow: var(--shadow-primary);
}

.card-sixth {
	background-color: var(--bg-sixth);
	background-image: var(--bg-sixth-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}

.card-sixth-accent {
	background-color: hsla(100, 50%, 55%, 0.7);
	background-image: var(--bg-sixth-gradient);
	color: var(--fg-primary);
	box-shadow: var(--shadow-primary);
}
