.text-responsive-big {
  font-size: clamp(15px, 1vw + 9px, 22px);
}

.text-responsive-primary {
  font-size: clamp(14px, 1vw + 8px, 22px);
}

.text-responsive-secondary {
  font-size: clamp(13px, 1vw + 6px, 20px);
}

.text-responsive-tertiary {
  font-size: clamp(12px, 1vw + 4px, 18px);
}

.text-responsive-fourth {
  font-size: clamp(8px, 1vw + 1px, 12px);
}
